<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نبذة</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="stylesheet" href="CSS/headerStyles.css">
    <link rel="stylesheet" href="CSS/footerStyles.css">
    <link rel="stylesheet" href="CSS/pagesStyles.css">
</head>
<body>


    <%- include('header.ejs') %>


    <main class="content-container">
        <h1 class="page-title">نبذة</h1>
        
        <h2 class="intro-paragraph">
            بِسۡمِ ٱللَّهِ ٱلرَّحۡمَـٰنِ ٱلرَّحِیمِ
        </h2>
        <br>

        <p class="content-paragraph">
            تطبيق "القراءات العشر" هو منصة ويب تفاعلية تهدف إلى تسهيل دراسة علم القراءات العشر للقرآن الكريم،
            من خلال تقديم واجهة منظمة وسهلة الاستخدام تتيح للطلاب والمعلمين الوصول إلى الاختلافات الدقيقة في الروايات وطرق الأداء.
        </p>
        <br>

        <p class="content-paragraph">
            يرتكز التطبيق على كتاب "النشر في القراءات العشر" لابن الجزري،
            والذي يُعد من أهم المراجع في هذا العلم، حيث يحتوي على تفاصيل دقيقة حول تحريرات القراءات والاختلافات بين القراء والرواة والطرق.
        </p>
        <br>
        <p class="content-paragraph">
            من خلال تحويل هذا المحتوى إلى قاعدة بيانات رقمية،
            يساهم المشروع في جعل هذا العلم الجليل أكثر سهولة في البحث والدراسة،
            ويوفر أدوات تفاعلية للبحث، والتصفية، واستعراض النتائج بطريقة مرنة وشاملة.

        </p>

        <!--
        <p class="content-paragraph">
            شيختي الحبيبة..   <br> نحتاج إلى قلم مبدع ليكتب محتوى هذه الصفحة ^_^
        </p>
        -->

    </main>


    <%- include('footer.ejs') %>
</body>
</html>
