<footer class="py-4">
    <div class="container">
        <div class="row justify-content-center justify-content-md-between">
            <!-- Right Side: Menu Links -->
            <div class="col-12 col-md-6 text-md-end mb-3 mb-md-0">
                <ul class="footer-list text-center text-md-end">
                    <li><a href="/about" class="text-dark">نبذة</a></li>
                    <li><a href="/methods" class="text-dark">المنهجية</a></li>
                    <li><a href="/manual" class="text-dark">دليل المستخدم</a></li>
                </ul>
            </div>
            
            <!-- Left Side: Contact Section -->
            <div class="col-12 col-md-6 text-center text-md-start">
                <p class="mb-2">تواصل معنا</p>
                <div class="d-inline-flex justify-content-center">
                    <a href="https://t.me/alqerat_alashr" class="icon-link"><i class="fab fa-telegram"></i></a>
                    <a href="mailto:alqeraat.alashr@gmail.com" class="icon-link"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
        
        <!-- Bottom Center: Copyright -->
        <div class="row">
            <div class="col-12 text-center mt-3 footer-bottom">
                <p class="text-muted">© جميع الحقوق محفوظة ٢٠٢٤</p>
            </div>
        </div>
    </div>
</footer>
