<div id="toggleContainer" class="toggle-container">
    <button id="toggleButton" class="toggle-button">الرواة والطرق</button>
</div>
<div id="nestedChecklist" class="hidden"></div>

<div id="toggleBookContainer" class="toggle-container">
    <button id="toggleBookButton" class="toggle-button">الكتب</button>
</div>
<div id="bookChecklist" class="hidden"></div>




<!-- Popup Modal -->
<div id="dataPopup" class="modal">
    <div class="modal-content">
      <span class="close-btn fa fa-close" onclick="closePopup()"></span>
      <div id="popupContent"></div>
    </div>
</div>
  
