




<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 shwahed-container">
            <div class="shwahed-text-container">
                <!-- Your content here -->
            </div>
        </div>
    </div>
</div>
